
#titrePrincipal{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95vw;
  height: 100vh;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  width: 60%;
  height: 50%;
  font-size: 100px;
  text-align: left;
}

#feuDrapeau {
  width: 35%;
  float: right;
  height: 75vh;
  margin-top: 50px;
}


h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.textYear{
  font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}


.tooltip {
    position: absolute;
    display: flex;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

.bar {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.next-button {
    background-color: white;
    border: 1px gray solid;
    font-size: 30px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    padding-inline: 25px;
    margin: 0 auto;
}

svg {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.legende1, .legende2{
    font-size: 20px;
    padding-inline: 15px;
}


    
.bubbles:hover {
    stroke: black;
}

* { box-sizing: border-box; }
body {

  font-family: Avenir, Calibri, sans-serif;
}
#canada-map { 
  fill: hsl(36, 0%, 70%);
}
#canada-map g {
  transition: .3s;
}
#canada-map g:hover { 
  fill: hsl(36, 100%, 70%);
  cursor: pointer;
}
.active, .active:hover { 
  fill: hsl(36, 100%, 70%) !important;
}		
#provinceInfo {
  display: inline;
  width: 100%;
  background: rgba(224, 224, 224, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: 1s; 
}

#myDiv {
  display: flex;
}

#CA-MAP{
  background-color: rgb(244, 244, 244);

}
  

#map {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
   padding: 2rem;
   border-top: #878787 solid 1px;

  }

@media all and (max-width: 800px) {
  #provinceInfo { width: 40%; }
}
@media all and (max-width: 750px) {
  #provinceInfo { 
    width: 100%; 
    position: static; 
    background: none;
  }
#provinceInfo.show p { 
  color: #000 !important; 
  margin-bottom: 2rem; 
  }
}
#provinceInfo.show { opacity: 1; }
#provinceInfo h1 {
  background: hsl(36, 100%, 70%);
  padding: .3rem;
  padding-left: 1rem;
  margin-top: -.5rem;
  font-weight: 400;
  height: auto;
  margin-bottom: auto;
}
#provinceInfo p {
  margin-left: 2rem;
  margin-right: 2rem;
}
#provinceInfo img {
  margin-bottom: 1rem;
  width: 100%;
}

#provinceInfo #swiss{
display: block;
margin: auto;
}

.descr{
  height: 3px !important;
  width: auto;
}

.textHumain, .textFoudre{
  display: flex;
  text-align: center;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.textYear{
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}



/* Styles for the select element */
/* cacher le bord et le fond de la liste déroulante */
.select-year {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 24'%3E%3Cpath fill='%23000' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
  border: none !important;
  padding-right: 1em !important;
  padding-left: 1em !important;
  font-size: 1em !important;
  font-family: sans-serif !important;
  color: #000 !important;
  cursor: pointer !important;
  outline: none !important;
  overflow-y: scroll !important;
  width: 5px !important;
  size: auto;
}

.select-year option {
  font-size: 14px !important;
  font-weight: normal !important;
  font: inherit !important;
  border-radius: 4px !important;
  font-size: 20px !important;
  overflow-y: scroll !important;
}

body{
  text-align: center;
}

button {
  background-color: #ffe3b5;
  border: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
  margin: 0px;
  display: inline-block;
}

button:hover{
  border: 1px solid #000 !important;
  cursor: pointer;
}

#stop{
  background-color: #a4cff3;
  margin-inline: 20px;
  display: inline-block;
}

.x-label, .y-label{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}


#bubbleChart p{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold !important;
  font-weight: 100;
  text-align: center;
}